p {
  font-family: Roboto, Charcoal, sans-serif;
  color: green;
}
h3 {
  font-family: Courier-new, Charcoal, sans-serif;
  color: purple;
}
h2 {
  font-family: Courier-new, Charcoal, sans-serif;
  color: gray;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
  color: black;
}
ul {
  font-family: Roboto, Charcoal, sans-serif;
  color: purple;
}
body {
  background-color: lightgray;
}